<mat-toolbar style="background-color: #ffffff;padding: 10px 10px 0px 10px;height: 70px" class="mat-elevation-z8">
<!--  <span><img src="../../assets/logo%20copy.png" width="120px" alt="Logo"></span>-->
  <span style="color: black">Quiz Programme </span>
  <div class="spacer"></div>
  <a mat-button style="color: black">Home</a>
  <a mat-button style="color: black">About US</a>
  <a mat-button style="color: black">Monthly Works</a>
  <a mat-raised-button style="background-color: darkred;color: white">Contact Us</a>
</mat-toolbar>

