<mat-toolbar color="primary" style="padding: 10px 10px 0px 10px;height: 70px" class="mat-elevation-z8">
<!--  <span><img src="../../assets/logo%20copy.png" width="120px" alt="Logo"></span>-->
  <span style="color: white;padding-left: 50px">Quiz Programme</span>
  <div class="spacer"></div>
  <a mat-button style="color: white">Home</a>
  <a mat-button style="color: white">About US</a>
  <a mat-button style="color: white">Monthly Works</a>
  <a mat-raised-button style="color: black">Contact Us</a>
</mat-toolbar>

